<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476827225648-7lahv5vbfgfr6ll0o3tug8rav9briikf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476827225648-7lahv5vbfgfr6ll0o3tug8rav9briikf</string>
	<key>API_KEY</key>
	<string>AIzaSyCjB5wtULXEgrSUfuj5tJBo9YBD9-Eb2so</string>
	<key>GCM_SENDER_ID</key>
	<string>476827225648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raceauthority.raceauthapp</string>
	<key>PROJECT_ID</key>
	<string>raceauthapp</string>
	<key>STORAGE_BUCKET</key>
	<string>raceauthapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476827225648:ios:2c97f2a2626d14dc5027f5</string>
</dict>
</plist>